body {
  font-family: 'Lato', sans-serif;
}

.footer {
  color: #86868B;
  margin-top: 22px;
}

.footer a {
  color: #86868B;
  transition: color .08s ease-in-out;
}

.footer a:hover {
  color: #28B473;
}

.footer h4 {
  margin-left: 13%;
}

.footer ul {
  padding-left: 15%;
}

.footer li {
  list-style: none;
  margin-right: 5%;
}

.copy-right .bottom-right {
  margin-left: 3%;
}

.table {
  border: #28B473 1px solid;
}

.column {
  font-size: 140px;
  width: 10px;
  color: #28B473;
}

.two-hundred {
  font-size: 54px;
  transition: font-size .08s ease-in-out;

}

.two-hundred:hover {
  font-size: 64px;
}

@media only screen and (max-width: 780px) {
  .two-hundred {
    font-size: 35px;
    transition: font-size .08s ease-in-out;
    -webkit-transition: font-size .08s ease-in-out;
  }

  .two-hundred:hover {
    font-size: 40px;
  }
}

.btn-primary,
.btn-primary:focus {
  margin-left: 10px;
  background: #E04F42;
  border-color: #E04F42;
  transition: font-size .08s linear;
  margin-top: 40%;
}

.btn-primary:hover {
  font-size: 20px;
  background: #E04F42;
  border-color: #E04F42;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background-image: url(./grammarlydude.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 56%;
  background-size: 50%;
}

.jumboh2 {
  justify-content: center;
  font-size: 2.5em;
}

.jumbop1 {
  margin-top: 2%;
}

@media only screen and (max-width: 760px) {
  .jumbotron {
    background-size: 100%;
    background-position-x: 60px;
    background-position-y: top;
  }

  .jumboh2 {
    font-size: 2em;
  }
}

.team {
  font: 54px;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stripe {
  font-size: 18px;
  margin: 0px;
}

.navbar {
  display: inline-flex;
  flex-direction: row;
  height: 40px;
}

.grammarly-logo {
  height: 60px;
  width: 250px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.right-side {
  float: right;
  display: flex;
  padding-right: 10px;
  margin-top: 20px;
  align-items: flex-end;
}

.right-side .list {
  font-weight: bolder;
  list-style-type: none;
  padding-right: 10px;
  float: left;
}

.stripe a {
  margin-right: 15px;
  color: black;
}

.stripe a:hover {
  text-decoration: none;
  border-bottom: 4px solid #28B473;
}

.hamburger div {
  width: 20px;
  height: 5px;
  background-color: #28B473;
  margin: 5px 0px;
  display: none;
}

@media screen and (max-width: 614px) {
  .hamburger div {
    padding-right: 30px;
    padding-top: 1px;
    display: block;
  }

  .hamburger {
    margin-top: 30px;
    float: right;
  }

  .right-side li {
    display: none;
    padding-right: 10px;
  }
}

.numbers {
  margin-top: 100px;
}

@media screen and (max-width: 780px) {
  .numbers {
    background-size: 100%;
  }
}

@media screen and (max-width: 780px) {
  .add {
    margin-top: 20px;
  }
}

.margin {
  margin-top: 100px;
}

.action {
  color: #28B473;
}

.center-block {
  width: 70%;
}

@media screen and (max-width: 780px) {
  .center-block {
    width: 100%;
    height: 140%;
  }
}

.space {
  margin-top: 10%;
}